    <!-- #encoding: utf-8 -->
<h1>Das ist die Verwaltungsseite von Elephant Search</h1>
<p>Die Elemente symbolisieren die Entit&auml;ten mit ihren Eigenschaften und Beziehungen</p>
<p>Unter Fragen sind alle Problematischen Fragen aufgelistet</p>
<p>Unter dem Men&uuml;punkt Rest wurde das Nutzen von Restful Services getestet</p>
