<div class="container">
	<h1>Listing lexicons</h1>
    <div>
    	  <button class="btn" type="submit">Add Lexicon record</button>
    </div>
    <% @lexicons.each do |lexicon| %>
		<div class="row">
			<div class="span4"><%= lexicon.keyword %></div>
			<div class="span4"><%= lexicon.answer %></div>
			<div class="span4"><%= lexicon.counter %></div>
	  </div>
	<% end %>
	
		
    <table id="user" class="table table-bordered table-striped" style="clear: both">
        <tbody> 
            <tr>         
                <td width="35%">Simple text field</td>
                <td width="65%"><a href="#" id="username" data-type="text" data-pk="1" data-original-title="Enter username">superuser</a></td>
            </tr>
            <tr>         
                <td>Empty text field, required</td>
                <td><a href="#" id="firstname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname"></a></td>
            </tr>  

        </tbody>
    </table>
</div>

<br />

<%= link_to 'New Lexicon', new_lexicon_path %>
